h2 {
  color: #41424f;
  font-size: 30px;
}
.form {
  background-color: whitesmoke;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
}
.form_body {
  text-align: right;
  padding: 40px 10px;
}
.form_body > * {
  padding: 10px;
}
.form_label {
  width: 40%;
  padding-right: 15%;
  font-size: larger;
}
.form_input {
  width: 60%;
  height: 30px;
}

.form_button {
  text-align: center;
  height: 40px;
}
.btn {
  height: 100%;
  width: 25%;
  font-size: larger;
  background-color: #41424f;
  border-radius: 5px;
  color: blanchedalmond;
}
.btn:hover {
  background-color: blanchedalmond;
  color: #41424f;
}
::placeholder {
  font-size: larger;
  text-align: left;
}
.dateOfBirth {
  width: 60%;
  height: 25px;
}
.select {
  width: 60%;
  margin-left: 38%;
  height: 25px;
}
.country {
  margin-right: 77%;
  font-size: larger;
}
.date {
  margin-right: 77%;
  font-size: larger;
}
