.footer {
  padding: 0.5em;
  font-family: "Lemon", cursive;
  text-align: center;
  height: 10vh;
  background: #244800;
  color: #ffa16b;
  display: flex;
  justify-content: center;
  align-items: center;
}
