.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  overflow: hidden;
  font-family: "Flavors", cursive;
  font-size: 1.5rem;
  color: #92ffeb;
}
.hamburger_container {
  position: absolute;

  top: 10px;
  right: 8px;

  cursor: pointer;
  z-index: 2;
}
.user_header_name {
  color: #ffd400;
}
.nav_dektop {
  display: none;
}
.hamburger_parts {
  width: 45px;
  padding: 4px;
  margin: 2px auto;
  background: linear-gradient(90deg, rgb(238, 255, 0), rgb(16, 99, 0));
}
.mobile_nav {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lemon", cursive;
  background: rgb(74, 197, 211);

  position: fixed;
  top: 0;
  right: 0;
  transition: all 1.5s;
  transform: translateX(100%);
  z-index: 1;
}
.moving {
  background: rgb(29, 86, 94);
  transform: translateX(0%);
}
.color {
  background: linear-gradient(90deg, rgb(118, 157, 189), rgb(0, 105, 190));
}
.nav_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffc107;
}
.mobile_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc107;
}
.nav_link:hover,
.mobile_nav_link:hover {
  transform: scale(1.2) rotate(20deg);
}
.nav_link img {
  max-width: 50px;
  margin-right: 10px;
}
@media screen and (min-width: 550px) {
  .hamburger_container {
    display: none;
  }
  .nav_dektop {
    display: block;
  }
  .mobile_nav {
    display: none;
  }
}
