.register_section {
  width: 95%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(#4cff42ad, rgb(0 124 124 / 0%));

  border-radius: 1em;
  padding: 0.5em;
}
.register_section h2 {
  margin: 0.2em auto 0.7em;
  font-family: "Flavors", cursive;
  font-weight: 100;
  font-size: 2rem;
  color: #92ffeb;
  letter-spacing: 7px;
  text-shadow: 0px 5px 2px black;
}
.register_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input_container {
  margin: 0.5em auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.register_input,
.date_container input,
.register_select {
  padding: 0.3em;
  border: 0;
  border-bottom: 2px solid #ffe000;
  background: transparent;
  font-weight: 700;
  transition: 1.3s all;
  color: black;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 100%;
}

.register_input::placeholder,
.date_container span {
  color: black;
}
.date_container,
.register_select_div {
  display: flex;
  align-items: center;
  margin: 1em auto;
}
.register_select_div p {
  color: white;
}
.date_container span {
  width: -webkit-fill-available;
  margin-right: 5px;
}
.register_input:focus {
  padding: 0.3em 2em;
}
.register_btn {
  width: fit-content;
  transition: 0.6s all;
  background: yellow;
  border: 2px solid rgb(0, 250, 0);
  font-size: 11pt;
}
.register_btn:hover {
  background: rgb(255, 174, 0);
}
.register_form a {
  color: rgb(255, 136, 0);
  font-weight: 700;
}
.register_svg {
  width: 100px;
  display: none;
}
.image_selecttag_container {
  width: 100%;
  display: flex;
  position: relative;
}
.select_btn_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input_message {
  font-size: 0.8rem;
  margin-top: 5px;
  color: rgb(255 68 68);
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .register_svg {
    transform: scale(1.2);
    display: block;
  }
  .register_input,
  .date_container input,
  .register_select {
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .register_svg {
    transform: scale(1.5);
    margin-left: 1em;
  }
  .register_section {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  .register_svg {
    transform: scale(1.5);
    margin-left: 1em;
  }
  .register_section {
    width: 60%;
  }
}
